<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
<html lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no, minimal-ui">
    <meta name="theme-color" content="Tomato"/>
    <!-- export variables to javascript from server configuration -->
    <meta name="mailto" content="{{ config.PROJECT_MAIL }}">
    <meta name="issue_mailto" content="{{ config.PROJECT_ISSUE_MAIL }}">
    <meta name="sentry_token" content="{{ sentry_token }}">
    <meta name="version" content="{{ version }}">

    <title>{% trans "Site Title" %}</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'favicons/apple-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}">

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/leaflet.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap-theme_v3.3.6.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/leaflet.fullscreen.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/fa-svg-with-js.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/vendor/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-3.2.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/leaflet-src.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/Leaflet.fullscreen.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/lazyload-custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/raven.min.vue.3.19.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fontawesome.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fontawesome-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/d3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/failmap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% else %}{% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/vue.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/Leaflet.fullscreen.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/lazyload-custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/raven.min.vue.3.19.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fontawesome.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fontawesome-all.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/d3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/failmap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endcompress %}{% endif %}

    {% if config.GITTER_CHAT_ENABLE and config.GITTER_CHAT_CHANNEL %}
        <script>
          ((window.gitter = {}).chat = {}).options = {
            room: '{{ config.GITTER_CHAT_CHANNEL }}'
          };
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% endif %}

    <link rel="manifest" href="/manifest.json">
</head>

<body role="document">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fas fa-map-marker-alt"></i> {% trans "Map" %}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% if config.SHOW_INTRO %}
                <li><a href="#info">{% trans "Info" %}</a></li>
                {% endif %}

                {% if config.SHOW_GOOD_BAD %}
                <li><a href="#charts">{% trans "Charts" %}</a></li>
                {% endif %}

                <li><a href="#reports">{% trans "Reports" %}</a></li>

                {% if config.SHOW_EXTENSIVE_STATISTICS %}
                <li><a href="#extensive_statistics">{% trans "Statistics" %}</a></li>
                {% endif %}

                {% if config.SHOW_DATASETS %}
                <li><a href="#datasets">{% trans "Datasets" %}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if debug %}
                <li><span style="margin-top:10px;" class='btn btn-danger btn-sm btn-block'>{% trans "DEBUG" %}</span></li>
            {% endif %}
            {% if admin %}
                <li><span class="navbar-text"><span class="label label-default">{{ version }}</span></span></li>
                <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
						{% else %}
								<li><a href="https://failmap.org"><img src="{% static 'images/fail_logo.png' %}" width="24px" class="d-inline-block align-top"/></a></li>
                <li><a href="https://gitlab.com/failmap/failmap/"><img src="{% static 'images/gitlab_logo.png' %}" width="24px" class="d-inline-block align-top"/></a></li>
            {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<nav class="navbar navbar-default navbar-static-top" id="countrynavbar" v-if="countries.length > 1" v-cloak>
    <div class="container">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li v-for="(x, key) in countries" v-bind:class="[selected == x ? 'selected_country' : '']">
                    <a v-on:click="set_country(x)">
                        <img :src="'static/flags/' + x + '.gif'" width="16" height="10">
                        {% verbatim %}{{ translate("country_" + x) }}{% endverbatim %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-static-top" id="categorynavbar" v-if="categories.length > 1" v-cloak>
    <div class="container">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li v-for="(x, key) in categories" v-bind:class="[selected == x ? 'selected_category' : '']">
                    <a v-on:click="set_category(x)">
                        {% verbatim %}{{ translate("category_menu_" + x) }}{% endverbatim %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div id='map'></div>
</section>

{% if config.SHOW_INTRO %}
<section>
    <div class="container theme-showcase" role="main">
        <a name="info" class="jumptonav"></a>
        <div class="jumbotron">
            <h1>{% trans "What do i see?" %}</h1>
            <p>{% trans "whats do i see explained" %}</p>
            <p>{% blocktrans with RESPONSIBLE_ORGANIZATION_NAME=config.RESPONSIBLE_ORGANIZATION_NAME PROJECT_ISSUE_MAIL=config.PROJECT_ISSUE_MAIL %} This website is run by {{ RESPONSIBLE_ORGANIZATION_NAME }}. To submit new domains, or ask questions, contact us via: {{ PROJECT_ISSUE_MAIL }}.{% endblocktrans %}</p>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div style="background-image: url('{% static 'images/logo_tile.png' %}'); height: 360px;border-radius: 25px;text-align: center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                width="100%">
                    <span style="font-size: 18em; font-weight: bold; font-family: arial; color: white;"></span>
                </div>
            </div>
            <div class="col-md-5">
                <h2>Controleer het zelf!</h2>
                <p>Deze website hoef je niet te geloven: daarom is deze website en alle achterliggende software
                    <a href="https://gitlab.com/failmap/failmap" targer="blank">open source</a>. Hierdoor kan iedereen
                    zelf controleren of de overheid haar veiligheid op orde heeft.</p>
                <p>Door zelf te controleren help je je eigen gegevens beter te beschermen.</p>
                <p>Heb je vragen, of kom je er niet uit? Dan helpen wij je op weg!</p>
                <p><a href="https://gitlab.com/failmap/failmap" class="btn btn-lg btn-success"><i class="fas fa-eye"></i> Ik wil deze software!</a></p>
            </div>
            <div class="col-md-5">
                <h2>Uw branche of onderneming?</h2>
                <p>Alles op orde? Gebruik deze monitor voor uw branch of onderneming en weet het zeker! De Internet Cleanup
                    Foundation biedt professionele ondersteuning en ontneemt alle zorgen rondom techniek.
                </p>
                <p>
                    Belangrijkste voordelen:
                    <ul>
                        <li>Ontdek kwetsbare vergeten sites</li>
                        <li>Dagelijkse controle</li>
                        <li>Status in een oogopslag</li>
                        <li>U bepaalt wie de resultaten ziet</li>
                        <li>Hosting on premise of in de cloud</li>
                        <li>Altijd de laatste versie</li>
                        <li>Ondersteuning en advies</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:info@internetcleanup.foundation?subject=Vertel%20me%20meer!&body=Beste," class="btn btn-lg btn-info"><i class="fas fa-globe"></i> Vertel me meer!</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if config.SHOW_GOOD_BAD %}
<section>
   <div class="container">

       <div id="charts">
            <div class="page-header">
                <a name="charts" class="jumptonav"></a>
                <h2>{% trans "Charts" %}</h2>
                <p>{% trans "Chart introduction" %}</p>
                <p></p>
                <a href="#" class="backtomap">{% trans "back to map" %} ↑</a>
            </div>
            <div class="row">
                {% include "map/topfail.html" %}
                {% include "map/topwin.html" %}
            </div>
        </div>
  </div>
</section>
{% endif %}

<section name="report">
    <div class="container">
        <div class="page-header" id="report">
            <div>
                <div class="page-header">
                    <a name="reports" id="report-anchor" class="jumptonav"></a>
                    <h2><span class="organization_points"></span>{% trans "Report" %}</h2>
                    <a href="#" class="backtomap">{% trans "back to map" %} ↑</a>
                </div>
                <div>
                    <div>
                        {% trans "Show report for organization" %}:
                        {% verbatim %}
                        <select v-model="selected">
                            <option v-for="organization in organizations" :value="organization.name">
                                {{ organization.name }}
                            </option>
                        </select>
                        <span v-if='loading'><div class="fa fa-spinner fa-spin"></div></span>
                        {% endverbatim %}
                    </div>
                    <br/>

                    <div v-if="name" id="reportcontent">
                        <h3>{% trans "Report for" %} {% verbatim %}{{ name }}{% endverbatim %}</h3>
                        <br />
                        <a @click="closereport()" class="btn btn-primary"><i class="fas fa-times"></i> {% trans "close report" %}</a>
                        <a @click="printreport('reportcontent')" class="btn btn-success"><i class="fas fa-print"></i> {% trans "print report" %}</a>
                        <br />
                        <div class="score high">
                            <span class="score_value high_text">{% verbatim %}{{ high }}{% endverbatim %}</span><br/>
                            <span class="score_label">{% trans "High" %}</span>
                        </div>

                        <div class="score medium">
                            <span class="score_value medium_text">{% verbatim %}{{ medium }}{% endverbatim %}</span><br/>
                            <span class="score_label">{% trans "Medium" %}</span>
                        </div>

                        <div class="score low">
                            <span class="score_value low_text">{% verbatim %}{{ low }}{% endverbatim %}</span><br/>
                            <span class="score_label">{% trans "Low" %}</span>
                        </div>

                        <br style="clear: both">
                        <br />
                        <i>{% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}.</i><br/>
                        <br/>
                        <ul>
                        <li v-if="promise" id="promise"><strong>*</strong> {% trans "Promise message" %}
                        </li>
                        <li>{% trans "RSS change feed teaser" %}
                        <a :href="'/data/updates_on_organization_feed/' + selected"
                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</li>
                        <li>
                        {% trans "Report share result question" %} {% verbatim %}<span
                            v-html="create_twitter_link(name, twitter_handle, points)"></span>{% endverbatim %}<br/>
                        </li>
                        <li>
                        {% trans "Report ask domains leader" %} <a
                            :href="'mailto:' + mailto + '?subject={% trans "Report ask domains subject" %}' + name + '&body={% trans "Report ask domains body" %}'">{% trans "Report ask sendin domains" %}</a><br/>
                        </li>
                        </ul>
                        <br/>
                        {% verbatim %}
                        <div v-for="url in urls" class="perurl"
                             :style="'background: linear-gradient(' + colorizebg(url.high, url.medium, url.low) + ', white);'">

                            <div class="row">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8">
                                    <span v-html="total_awarded_points(url.high, url.medium, url.low)"> </span>
                                    <span class="faildomain" :class="colorize(url.high, url.medium, url.low)"
                                          :data-tooltip-content="idizetag(url.url)">{{ url.url }}</span><br/>
                                    <a :href="'mailto:' + mailto + '?subject={% endverbatim %}{% trans "Incorrect finding on mail subject" %}{% verbatim %}' + url.url + '&body={% endverbatim %}{% trans "Incorrect finding on mail body" %}{% verbatim %}'"
                                       class="btn btn-default btn-sm" style="margin-top: 11px;" role="button">
                                        {% endverbatim %}{% trans "Report incorrect finding" %}{% verbatim %}{% endverbatim %}</a>
                                </div>
                            </div>

                            <!-- url reports -->
                            <div v-if="url.ratings.length > 0" class="row">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 giveroom_url">
                                    <h4>{% trans "Url level findings" %}</h4>
                                    {% verbatim %}
                                    <div v-for="rating in url.ratings">
                                        <h5>&nbsp; {{ create_header(rating) }}</h5>
                                        &nbsp; &nbsp; <span
                                            v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{
                                        translate(rating.explanation) }}<br/>
                                        &nbsp; &nbsp; {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{
                                        humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}:
                                        {{ humanize(rating.last_scan) }} <br/>
                                        &nbsp; &nbsp; <span v-html="second_opinion_links(rating, url)"> </span>
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <!-- endpoint reports -->
                            <div v-for="endpoint in url.endpoints" class="row">
                                <div class="col-md-4 giveroom">
                                    <a :href="endpoint.protocol + '://' + url.url + ':' + endpoint.port"
                                       target="_blank"
                                       :title="'Visit ' + endpoint.protocol + '://' + url.url + ':' + endpoint.port">
                                        <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                             class="lazyload clippedimage" :data-src="'/static/images/screenshots/' + endpoint.ip_version + '_' + endpoint.protocol + idize(url.url) + endpoint.port + '_latest.png'"
                                            :alt="'Latest screenshot of '+ endpoint.protocol + idize(url.url) + endpoint.port"
                                        />
                                    </a>
                                </div>
                                <div class="col-md-8 giveroom">
                                    <h4>{% endverbatim %}{% trans "Service" %}: {% verbatim %}{{endpoint_type(endpoint) }}</h4>

                                    <div>
                                        <div v-for="rating in endpoint.ratings">
                                            <h5>&nbsp; {{ create_header(rating) }}</h5>
                                            &nbsp; &nbsp; <span
                                                v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{
                                            translate(rating.explanation) }}<br/>
                                            &nbsp; &nbsp; {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{
                                            humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}:
                                            {{ humanize(rating.last_scan) }} <br/>
                                            &nbsp; &nbsp; <span v-html="second_opinion_links(rating, url)"> </span>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if config.SHOW_EXTENSIVE_STATISTICS %}
<section name="extensive_statistics">
    <div class="container">

        {% if config.SHOW_STATS_NUMBERS %}
        <div id="statistics" v-cloak>
            <div class="page-header">
                <a name="extensive_statistics" class="jumptonav"></a>
                <h2>{% trans "Extensive statistics" %}</h2>
                <a href="#" class="backtomap">{% trans "back to map" %} ↑</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>{% trans "Organizations" %}</h3>
                    <p>{% trans "Organizations Explained" %}</p>
                </div>
                <div class="col-md-6">
                    <h3>{% trans "Internet addresses" %}</h3>
                    <p>{% trans "Internet addresses Explained" %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                            <span class="sr-only">{% trans "stats remark green" %}</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                            <span class="sr-only">{% trans "stats remark orange" %}</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                            <span class='sr-only'>{% trans "stats remark red" %}</span>
                        </div>
                        <div class="progress-bar progress-bar-basic" :style="{width:unknownpercentage}">
                            <span class='sr-only'>{% trans "stats remark gray" %}</span>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="30%">{% trans "When" %}</th>
                            <th width="15%">{% trans "Number" %}</th>
                            <th width="18%">{% trans "Good" %}</th>
                            <th width="18%">{% trans "Average" %}</th>
                            <th width="18%">{% trans "Bad" %}</th>
                        </tr>
                        </thead>
                        <tbody v-if="data.data">
                        {% verbatim %}
                        <tr v-for="(x, key) in data.data">
                            <td>{{ translate(key) }}</td>
                            <td>{{ x["included_organizations"] }}</td>
                            <td :style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green percentage'] + '%, white ' + x['green percentage'] + '%, white 100%);'">
                                {{ x["green"] }}
                                <small>({{ x["green percentage"] }}%)</small>
                            </td>
                            <td :style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange percentage'] + '%, white ' + x['orange percentage'] + '%, white 100%);'">
                                {{ x["orange"] }}
                                <small>({{ x["orange percentage"] }}%)</small>
                            </td>
                            <td :style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red percentage'] + '%, white ' + x['red percentage'] + '%, white 100%);'">
                                {{ x["red"] }}
                                <small>({{ x["red percentage"] }}%)</small>
                            </td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" :style="{width:greenurlpercentage}">
                            <span class="sr-only">Oh, wow!</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" :style="{width:orangeurlpercentage}">
                            <span class="sr-only">Pretty fair, but not really there.</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" :style="{width:redurlpercentage}">
                            <span class='sr-only'>They have a lot to learn.</span>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="30%">{% trans "When" %}</th>
                            <th width="15%">{% trans "Number" %}</th>
                            <th width="18%">{% trans "Good" %}</th>
                            <th width="18%">{% trans "Average" %}</th>
                            <th width="18%">{% trans "Bad" %}</th>
                        </tr>
                        </thead>
                        <tbody v-if="data.data">
                        {% verbatim %}
                        <tr v-for="(x, key) in data.data">
                            <td>{{ translate(key) }}</td>
                            <td>{{ x["total_urls"] }}</td>
                            <td :style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green url percentage'] + '%, white ' + x['green url percentage'] + '%, white 100%);'">
                                {{ x["green_urls"] }}
                                <small>({{ x["green url percentage"] }}%)</small>
                            </td>
                            <td :style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange url percentage'] + '%, white ' + x['orange url percentage'] + '%, white 100%);'">
                                {{ x["orange_urls"] }}
                                <small>({{ x["orange url percentage"] }}%)</small>
                            </td>
                            <td :style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red url percentage'] + '%, white ' + x['red url percentage'] + '%, white 100%);'">
                                {{ x["red_urls"] }}
                                <small>({{ x["red url percentage"] }}%)</small>
                            </td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                {% if config.SHOW_HTTP_TLS_QUALYS or config.SHOW_HTTP_MISSING_TLS %}
                <div class="col-md-6">
                    <h4>{% trans "Technical TLS" %}</h4>
                    <p>{% trans "Technical stats TLS explained" %}</p>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_X_XSS or config.SHOW_HTTP_HEADERS_X_CONTENT or config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
                <div class="col-md-6">
                    <h4>{% trans "Technical stats headers" %}</h4>
                    <p>{% trans "Technical stats headers explained" %}</p>
                </div>
                {% endif %}
            </div>
            <div class="row" v-if="data.data">
                {% if config.SHOW_HTTP_TLS_QUALYS or config.SHOW_HTTP_MISSING_TLS %}
                <div class="col-md-6">
                    <div v-for="(x, key) in data.data" v-if="key == 'now'">
                        <table class="table" v-if="x['explained']">
                            <thead>
                            <tr>
                                <th width="10%">{% trans "Technology" %}</th>
                                <th width="50%">{% trans "Result" %}</th>
                                <th width="40%">{% trans "Total" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if config.SHOW_DNS_DNSSEC %}
                            {% verbatim %}
                            <tr v-if="x['explained']['DNSSEC']">
                                <td colspan="3">{% endverbatim %}{% trans "DNSSEC" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['DNSSEC']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "DNSSEC incorrect" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['DNSSEC']['DNSSEC is incorrectly or not configured (errors found).'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['DNSSEC']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "DNSSEC correct" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['DNSSEC']['DNSSEC seems to be implemented sufficiently.'] }}{% endverbatim %}
                                </td>
                            </tr>
                            {% endif %}

                            {% if config.SHOW_FTP %}
                            {% verbatim %}
                            <tr v-if="x['explained']['ftp']">
                                <td colspan="3">{% endverbatim %}{% trans "FTP" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['ftp']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "FTP insecure" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['ftp']['FTP Server does not support encrypted transport or has protocol issues.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['ftp']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "FTP outdated" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['ftp']['FTP Server only supports insecure SSL protocol.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['ftp']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "FTP secure" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['ftp']['FTP Server supports TLS encryption protocol.'] }}{% endverbatim %}
                                </td>
                            </tr>
                            {% endif %}

                            {% if config.SHOW_HTTP_MISSING_TLS %}
                            {% verbatim %}
                            <tr v-if="x['explained']['plain_https']">
                                <td colspan="3">{% endverbatim %}{% trans "Application of encryption" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['plain_https']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Not at all" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['plain_https']['Site does not redirect to secure url, and has nosecure alternative on a standard port.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['plain_https']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Not at all" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['plain_https']['Site does not redirect to secure url, and has no secure alternative on a standard port.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['plain_https']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Redirect from unsafe address" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['plain_https']['Redirects to a secure site, while a secure counterpart on the standard port is missing.'] }}{% endverbatim %}
                                </td>
                            </tr>
                            {% endif %}
                            {% if config.SHOW_HTTP_TLS_QUALYS %}
                            <tr v-if="x['explained']['tls_qualys']">
                                {% verbatim %}
                                <td colspan="3">{% endverbatim %} {% trans "Encryption quality" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Broken" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Broken Transport Security, rated F'] }}</td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "No trust" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Certificate not valid for domain name.'] }}</td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "No trust, C" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated C.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "No trust, B" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated B.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "No trust, A-" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Good Transport Security, rated A-.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="redrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "No trust, A" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Good Transport Security, rated A.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "TLS rated C" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Less than optimal Transport Security, rated C.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "TLS rated B" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Less than optimal Transport Security, rated B.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "TLS rated A-" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Good Transport Security, rated A-.'] }}</td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "TLS rated A" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Good Transport Security, rated A.'] }}</td>
                            </tr>
                            <tr v-if="x['explained']['tls_qualys']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "TLS rated A+" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['tls_qualys']['Perfect Transport Security, rated A+.'] }}{% endverbatim %}</td>
                            </tr>
                            {%  endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_X_XSS or config.SHOW_HTTP_HEADERS_X_CONTENT or config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
                <div class="col-md-6">
                    <div v-for="(x, key) in data.data" v-if="key == 'now'">
                        <table class="table" v-if="x['explained']">
                            <thead>
                            <tr>
                                <th width="10%">{% trans "Technology" %}</th>
                                <th width="50%">{% trans "Result" %}</th>
                                <th width="40%">{% trans "Total" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% verbatim %}
                            <tr v-if="x['explained']['security_headers_strict_transport_security']">
                                <td colspan="3">{% endverbatim %}{% trans "Stats HSTS" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_strict_transport_security']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats hasn't" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_strict_transport_security']['Missing Strict-Transport-Security header.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_strict_transport_security']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats has" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_strict_transport_security']['Strict-Transport-Security header present.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_frame_options']">
                                <td colspan="3">{% endverbatim %}{% trans "Stats X-Frame-Options" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_frame_options']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats hasn't" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_frame_options']['Missing X-Frame-Options header.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_frame_options']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats has" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_frame_options']['X-Frame-Options header present.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_xss_protection']">
                                <td colspan="3">{% endverbatim %}{% trans "Stats X-XSS Protection" %}{% verbatim %}</td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_xss_protection']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats hasn't" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_xss_protection']['Missing X-XSS-Protection header.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_xss_protection']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats has" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_xss_protection']['X-XSS-Protection header present.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_content_type_options']">
                                <td colspan="3">{% endverbatim %}{% trans "Stats X-Content Type Options" %}{% verbatim %}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_content_type_options']" class="orangerow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats hasn't" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_content_type_options']['Missing X-Content-Type-Options header.'] }}
                                </td>
                            </tr>
                            <tr v-if="x['explained']['security_headers_x_content_type_options']" class="greenrow">
                                <td></td>
                                <td>{% endverbatim %}{% trans "Stats has" %}{% verbatim %}:</td>
                                <td>{{ x['explained']['security_headers_x_content_type_options']['X-Content-Type-Options header present.'] }}
                                </td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if config.SHOW_SERVICES %}
            <div class="row">
                <div class="col-md-12" v-for="(x, key) in data.data" v-if="key == 'now'">
                    <h3>{% trans "Services" %}</h3>
                    <p>{% trans "Services explained" %}</p>
                    {% verbatim %}
                        <p>{% endverbatim %}{% trans "Number of service checked" %}</p>
                        <table class="table table-striped" id="services_table">
                            <thead>
                                <tr>
                                    <th @click="sortBy('ip_version')" :class="{ active: sortKey == 'ip_version' }">
                                        {% trans "IP Version" %}
                                        <span class="arrow" :class="sortOrders['ip_version'] > 0 ? 'asc' : 'dsc'">
                                    </th>
                                    <th @click="sortBy('protocol')" :class="{ active: sortKey == 'protocol' }">
                                        {% trans "Protocol" %}
                                        <span class="arrow" :class="sortOrders['protocol'] > 0 ? 'asc' : 'dsc'">
                                    </th>
                                    <th @click="sortBy('port')" :class="{ active: sortKey == 'port' }">
                                        {% trans "Port" %}
                                        <span class="arrow" :class="sortOrders['port'] > 0 ? 'asc' : 'dsc'">
                                    </th>
                                    <th @click="sortBy('amount')" :class="{ active: sortKey == 'amount' }">
                                        {% trans "Amount" %}
                                        <span class="arrow" :class="sortOrders['amount'] > 0 ? 'asc' : 'dsc'">
                                    </th>
                                    <th>{% trans "Percentage" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% verbatim %}
                                <tr v-for="service in filteredData">
                                    <td>{{ service['ip_version'] }}</td>
                                    <td>{{ service['protocol'] }}</td>
                                    <td>{{ service['port'] }}</td>
                                    <td>{{ service['amount'] }}</td>
                                    <td>{{ ((service['amount']/endpoints_now) * 100).toFixed(2) }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endverbatim %}
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if config.SHOW_STATS_IMPROVEMENTS %}
        <div id="issue_improvements" class="stats_part" v-cloak>
            <div class="page-header">
                <h3>{% trans "Improvements" %}</h3>
                <p>{% trans "Improvements explained" %}</p>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align:center">
                    <h4>{% trans "High risk" %}</h4>
                    {% verbatim %}
                        <span :class="goodbad(overall.high) + '_large'">{{ overall.high }}</span>
                    {% endverbatim %}

                    <table class="table table-striped">
                        <tr>
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td>{% trans "Encryption" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td :class="'number-sm ' + goodbad(tls_qualys.high)">{% verbatim %}{{ tls_qualys.high }}{% endverbatim %}</td> {% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_MISSING_TLS %}<td>{% trans "Missing encryption" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_MISSING_TLS %}<td :class="'number-sm ' + goodbad(plain_https.high)">{% verbatim %}{{ plain_https.high }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_FTP %}<td>{% trans "Missing FTP encryption" %}</td>{% endif %}
                            {% if config.SHOW_FTP %}<td :class="'number-sm ' + goodbad(ftp.high)">{% verbatim %}{{ ftp.high }}{% endverbatim %}</td>{% endif %}
                        </tr>
                    </table>

                </div>
                <div class="col-md-4" style="text-align:center">
                    <h4>{% trans "Medium risk" %}</h4>
                    {% verbatim %}
                        <span :class="goodbad(overall.high) + '_large'">{{ overall.medium }}</span>
                    {% endverbatim %}

                    <table class="table table-striped">
                        <tr>
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td>{% trans "Encryption" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td :class="'number-sm ' + goodbad(tls_qualys.medium)">{% verbatim %}{{ tls_qualys.medium }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_MISSING_TLS %}<td>{% trans "Missing encryption" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_MISSING_TLS %}<td :class="'number-sm ' + goodbad(plain_https.medium)">{% verbatim %}{{ plain_https.medium }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_HEADERS_HSTS %}<td>{% trans "HSTS Header" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_HEADERS_HSTS %}<td :class="'number-sm ' + goodbad(security_headers_strict_transport_security.medium)">{% verbatim %}{{ security_headers_strict_transport_security.medium }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_HEADERS_XFO %}<td>{% trans "XFO Header" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_HEADERS_XFO %}<td :class="'number-sm ' + goodbad(security_headers_x_frame_options.medium)">{% verbatim %}{{ security_headers_x_frame_options.medium }}{% endverbatim %}</td>{% endif %}

                        </tr>
                    </table>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <h4>{% trans "Low risk" %}</h4>
                    {% verbatim %}
                        <span :class="goodbad(overall.high) + '_large'">{{ overall.low }}</span>
                    {% endverbatim %}

                    <table class="table table-striped">
                        <tr>
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td>{% trans "Encryption" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_TLS_QUALYS %}<td :class="'number-sm ' + goodbad(tls_qualys.low)">{% verbatim %}{{ tls_qualys.low }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_HEADERS_X_XSS %}<td>{% trans "X-XSS" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_HEADERS_X_XSS %}<td :class="'number-sm ' + goodbad(security_headers_x_xss_protection.low)">{% verbatim %}{{ security_headers_x_xss_protection.low }}{% endverbatim %}</td>{% endif %}
                        </tr>
                        <tr>
                            {% if config.SHOW_HTTP_HEADERS_X_CONTENT %}<td>{% trans "X-Content" %}</td>{% endif %}
                            {% if config.SHOW_HTTP_HEADERS_X_CONTENT %}<td :class="'number-sm ' + goodbad(security_headers_x_content_type_options.low)">{% verbatim %}{{ security_headers_x_content_type_options.low }}{% endverbatim %}</td>{% endif %}
                        </tr>
                    </table>

                </div>
            </div>

        </div>
        {% endif %}

        {% if config.SHOW_STATS_GRAPHS %}
        <div id="graphs" class="stats_part" v-cloak>
            <div class="page-header">
                <h3>{% trans "Graphs" %}</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>{% trans "Overall" %}</h4>
                    <svg id="graph_total" width="1110" height="300"></svg>
                </div>
            </div>

            {% if config.SHOW_HTTP_TLS_QUALYS or config.SHOW_HTTP_MISSING_TLS %}
            <div class="row">
                {% if config.SHOW_HTTP_TLS_QUALYS %}
                <div class="col-md-6">
                    <h4>{% trans "Encryption failure" %}</h4>
                    <svg id="graph_tls_qualys" width="555" height="300"></svg>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_MISSING_TLS %}
                <div class="col-md-6">
                    <h4>{% trans "Lack of encryption failure" %}</h4>
                    <svg id="graph_plain_https" width="555" height="300"></svg>
                </div>
                {% endif %}
            </div>
            {% endif %}

            {% if config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
            <div class="row">
                {% if config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
                <div class="col-md-6">
                    <h4>{% trans "Forcing of encryption failure" %}</h4>
                    <svg id="graph_security_headers_strict_transport_security" width="555" height="300"></svg>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
                <div class="col-md-6">
                    <h4>{% trans "X-Frame Options failure" %}</h4>
                    <svg id="graph_security_headers_x_frame_options" width="555" height="300"></svg>
                </div>
                {% endif %}
            </div>
            {% endif %}

            {% if config.SHOW_HTTP_HEADERS_X_XSS or config.SHOW_HTTP_HEADERS_X_CONTENT %}
            <div class="row">
                {% if config.SHOW_HTTP_HEADERS_X_CONTENT %}
                <div class="col-md-6">
                    <h4>{% trans "X-Content-Type-Options failure" %}</h4>
                    <svg id="graph_security_headers_x_content_type_options" width="555" height="300"></svg>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_X_XSS%}
                <div class="col-md-6">
                    <h4>{% trans "X-XSS-Protection failure" %}</h4>
                    <svg id="graph_security_headers_x_xss_protection" width="555" height="300"></svg>
                </div>
                {% endif %}
            </div>
            {% endif %}

            {% if config.SHOW_FTP %}
            <div class="row">
                {% if config.SHOW_FTP %}
                <div class="col-md-6">
                    <h4>{% trans "FTP failure" %}</h4>
                    <svg id="graph_ftp" width="555" height="300"></svg>
                </div>
                {% endif %}
                <div class="col-md-6">
                    <h4>&nbsp;</h4>
                </div>
            </div>
            {% endif %}

        </div>
        {% endif %}

        {% if config.SHOW_STATS_CHANGES %}
        <div id="latest_scans" class="stats_part">
            <div class="page-header">
                <h3>{% trans "Latest changes" %}</h3>
                {% trans "Latest changes explanation" %}
            </div>
            {% if config.SHOW_HTTP_TLS_QUALYS or config.SHOW_HTTP_MISSING_TLS %}
            <div class="row">
                {% if config.SHOW_HTTP_TLS_QUALYS %}
                <div class="col-md-6">
                    <h4>{% trans "Encryption updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/tls_qualys"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_tls_qualys"></span>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_MISSING_TLS %}
                <div class="col-md-6">
                    <h4>{% trans "Lack of encryption updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/plain_https"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_plain_https"></span>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if config.SHOW_HTTP_HEADERS_HSTS or config.SHOW_HTTP_HEADERS_XFO %}
            <div class="row">
                {% if config.SHOW_HTTP_HEADERS_HSTS %}
                <div class="col-md-6">
                    <h4>{% trans "Forcing encryption updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/Strict-Transport-Security"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_security_headers_strict_transport_security"></span>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_XFO %}
                <div class="col-md-6">
                    <h4>{% trans "X-Frame-Options updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %}<a href="/data/feed/X-Frame-Options"
                                                       target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_security_headers_x_frame_options"></span>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if config.SHOW_HTTP_HEADERS_X_XSS or config.SHOW_HTTP_HEADERS_X_CONTENT %}
            <div class="row">
                {% if config.SHOW_HTTP_HEADERS_X_CONTENT %}
                <div class="col-md-6">
                    <h4>{% trans "X-Content-Type-Option updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/X-Content-Type-Options"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_security_headers_x_content_type_options"></span>
                </div>
                {% endif %}
                {% if config.SHOW_HTTP_HEADERS_X_XSS %}
                <div class="col-md-6">
                    <h4>{% trans "X-XSS-Protection updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/X-XSS-Protection"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_security_headers_x_xss_protection"></span>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if config.SHOW_FTP %}
            <div class="row">
                {% if config.SHOW_FTP %}
                <div class="col-md-6">
                    <h4>{% trans "FTP updates" %}</h4>
                    <p>{% trans "RSS feed teaser" %} <a href="/data/feed/ftp"
                                                        target="_blank"> <i class="fas fa-rss"></i> {% trans "rss feed" %}</a>.</p>
                    <span id="latest_ftp"></span>
                </div>
                {% endif %}
                <div class="col-md-6">
                    <h4>&nbsp;</h4>
                    <p>&nbsp;</p>
                    <span></span>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if config.SHOW_DATASETS %}
<section name="datasets">
    <div class="container">
        <div id="export">
            <div class="page-header">
                <a name="datasets" class="jumptonav"></a>
                <h2>{% trans "Datasets" %}</h2>
                {% trans "Datasets explanation" %}
                <p></p>
                <a href="#" class="backtomap">{% trans "back to map" %} ↑</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>{% trans "Category" %}</th>
                                <th>{% trans "List of only urls" %}</th>
                                <th>{% trans "Copy of organization_types" %}*</th>
                                <th>{% trans "Copy of organizations" %}*</th>
                                <th>{% trans "Copy of coordinates" %}*</th>
                                <th>{% trans "Copy of urls" %}*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="category in categories">
                                <td>{% verbatim %}{{ translate("category_menu_" + category) }}{% endverbatim %}</td>
                                <td><a :href="create_link(category, 'urls_only')">{% trans "Download" %} ⬇️</a></td>
                                <td><a :href="create_link(category, 'organization_types')">{% trans "Download" %} ⬇️</a></td>
                                <td><a :href="create_link(category, 'organizations')">{% trans "Download" %} ⬇️</a></td>
                                <td><a :href="create_link(category, 'coordinates')">{% trans "Download" %} ⬇️</a></td>
                                <td><a :href="create_link(category, 'urls')">{% trans "Download" %} ⬇️</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br /><br />
                    <p>* = {% trans "export_failmap_compatible_explained" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


<section id="lastrow">
    <div class="container">
        <div class="row">
            <a name="footer" class="jumptonav"></a>

            <div class="col-md-3">
                {% if config.PROJECT_NAME %}
                    <a href="{{ config.RESPONSIBLE_ORGANIZATION_WEBSITE }}" target="_blank"><b>{{ config.PROJECT_NAME }}</b></a><br />
                {% endif %}
                {% if config.PROJECT_TAGLINE %}
                    <i>{{ config.PROJECT_TAGLINE }}</i><br />
                {% endif %}

                <ul>
                    <li>{% trans "General inquiry e-mail" %}: <a href="mailto:{{ config.PROJECT_MAIL }}" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
                    <li>{% trans "Issues e-mail" %}: <a href="mailto:{{ config.PROJECT_ISSUE_MAIL }}" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
                    <li>
                        {% if config.PROJECT_TWITTER or config.PROJECT_FACEBOOK %}
                            {% trans "Also on social media" %}:

                            {% if config.PROJECT_TWITTER %}
                            <a href="{{ config.PROJECT_TWITTER }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            {% endif %}

                            {% if config.PROJECT_FACEBOOK %}
                            <a href="{{ config.PROJECT_TWITTER }}" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            {% endif %}

                        {% endif %}
                    </li>
                </ul>



            </div>

            <div class="col-md-3">
                <b>{% trans "About this website" %}</b>
                <ul>
                    <li>⬇️ <a href="https://gitlab.com/failmap/" target="_blank">{% trans "Get the sourcecode" %}</a></li>
                    <li>📖 <a href="https://docs.failmap.org" target="_blank">{% trans "Documentation" %}</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <b>{% trans "Made possible by" %}</b>
                <ul>
                    <li>🗺️ <a href="https://internetcleanup.foundation" target="_blank">Internet Cleanup Foundation</a></li>
                    <li>ℹ️ <a href="https://www.sidnfonds.nl/" target="_blank">SIDN fonds</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                {% if config.RESPONSIBLE_ORGANIZATION_NAME %}
                <b>{% trans "This website is run by" %}</b>
                {% endif %}

                <ul>
                    {% if config.RESPONSIBLE_ORGANIZATION_WEBSITE %}
                    <li>🖥️ <a href="{{ config.RESPONSIBLE_ORGANIZATION_WEBSITE }}" target="_blank">{{ config.RESPONSIBLE_ORGANIZATION_NAME }}</a></li>
                    {% endif %}

                    <li>{% trans "Contact" %}:
                        {% if config.RESPONSIBLE_ORGANIZATION_MAIL %}
                        <a href="mailto:{{ config.RESPONSIBLE_ORGANIZATION_MAIL }}" target="_blank"><i class="fas fa-envelope-square"></i></a>
                        {% endif %}

                        {% if config.RESPONSIBLE_ORGANIZATION_TWITTER %}
                        <a href="{{ config.RESPONSIBLE_ORGANIZATION_TWITTER }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        {% endif %}

                        {% if config.RESPONSIBLE_ORGANIZATION_FACEBOOK %}
                        <a href="{{ config.RESPONSIBLE_ORGANIZATION_FACEBOOK }}" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        {% endif %}

                        {% if config.RESPONSIBLE_ORGANIZATION_LINKEDIN %}
                        <a href="{{ config.RESPONSIBLE_ORGANIZATION_LINKEDIN }}" target="_blank"><i class="fas fa-linkedin"></i></a>
                        {% endif %}

                        {% if config.RESPONSIBLE_ORGANIZATION_WHATSAPP %}
                        <a href="{{ config.RESPONSIBLE_ORGANIZATION_WHATSAPP }}" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                        {% endif %}

                        {% if config.RESPONSIBLE_ORGANIZATION_PHONE %}
                        <a href="sip://{{ config.RESPONSIBLE_ORGANIZATION_PHONE }}" target="_blank"><i class="fas fa-phone-square"></i></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% if config.SHOW_TICKER %}
<div id="ticker" v-cloak>
    <p class="marquee very-huge"><span><span v-html="get_tickertext()"></span></span></p>
</div>
{% endif %}

<div id="viewmore">
    <span><a href="#info"><i class="fas fa-chevron-circle-down"></i> {% trans "Review many more details below!" %} <i class="fas fa-chevron-circle-down"></i></a></span>
</div>

</body>
<script type="x-template" id="fullscreenreport">
    {% verbatim %}
    <div class="page-header" id="fullscreenreport" v-if="visible">
        <div v-if="name" class="fullscreenlayout">
            <h1>
                {{ name }}
            </h1>
            <p class="closebutton" onclick="vueFullScreenReport.hide()">
                X
            </p>
            <div>{% endverbatim %}
               <!-- copy of report -->
                {% trans "Report share result question" %} {% verbatim %}<span
                        v-html="create_twitter_link(name, twitter_handle, points)"></span>{% endverbatim %}<br/>
                    <br/>
                    {% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}<br/>
                    {% trans "Score" %}<span v-if="promise"><strong>*</strong></span>:<br/>
                    {% trans "High" %}: {% verbatim %}{{ high }}{% endverbatim %} <br/>
                    {% trans "Medium" %}: {% verbatim %}{{ medium }}{% endverbatim %} <br/>
                    {% trans "Low" %}: {% verbatim %}{{ low }}{% endverbatim %} <br/>
                    {% trans "congratulations" %}!
                    <br/>
                    <br/>
                    {% trans "Report ask pentest leader" %} <a
                        :href="'mailto:' + mailto + '?subject={% trans "Report ask pentest subject" %}' + name + '&body={% trans "Report ask pentest body" %}'">{% trans "Report ask request pentest" %}</a><br/>
                    {% trans "Report ask domains leader" %} <a
                        :href="'mailto:' + mailto + '?subject={% trans "Report ask domains subject" %}' + name + '&body={% trans "Report ask domains body" %}'">{% trans "Report ask sendin domains" %}</a><br/>
                    <br/>
                    {% verbatim %}
                    <div v-if="promise" id="promise"><strong>*</strong> {% trans "Promise message" %}
                    </div>
                    {% endverbatim %}
                    <br/>
                    {% verbatim %}
                    <div v-for="url in urls" class="perurl"
                         :style="'background: linear-gradient(' + colorizebg(url.high, url.medium, url.low) + ', white);'">

                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            <span v-html="total_awarded_points(url.high, url.medium, url.low)"> </span>
                            <span class="faildomain" :class="colorize(url.high, url.medium, url.low)"
                                  :data-tooltip-content="idizetag(url.url)">{{ url.url }}</span><br/>
                            <a :href="'mailto:' + mailto + '?subject={% endverbatim %}{% trans "Incorrect finding on mail subject" %}{% verbatim %}' + url.url + '&body={% endverbatim %}{% trans "Incorrect finding on mail body" %}{% verbatim %}'"
                               class="btn btn-default btn-sm" style="margin-top: 11px;" role="button">
                                {% endverbatim %}{% trans "Report incorrect finding" %}{% verbatim %}</a>
                        </div>

                        <div v-for="endpoint in url.endpoints">
                            <div class="col-md-4 giveroom">
                                <a :href="endpoint.protocol + '://' + url.url + ':' + endpoint.port"
                                   target="_blank"
                                   :title="'Visit ' + endpoint.protocol + '://' + url.url + ':' + endpoint.port">
                                    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                         class="lazyload clippedimage" :data-src="'/static/images/screenshots/'+ endpoint.ip_version + '_' + endpoint.protocol + idize(url.url) + endpoint.port + '_latest.png'"
                                        :alt="'Latest screenshot of '+ endpoint.protocol + idize(url.url) + endpoint.port"
                                    />
                                </a>
                            </div>
                            <div class="col-md-8 giveroom">
                                <h4>{% endverbatim %}{% trans "Service" %}: {% verbatim %}{{endpoint_type(endpoint) }}</h4>

                                <div>
                                    <div v-for="rating in endpoint.ratings">
                                        <h5>&nbsp; {{ create_header(rating) }}</h5>
                                        &nbsp; &nbsp; <span
                                            v-html="awarded_points(rating.high, rating.medium, rating.low)"></span> {{
                                        translate(rating.explanation) }}<br/>
                                        &nbsp; &nbsp; {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{
                                        humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}:
                                        {{ humanize(rating.last_scan) }} <br/>
                                        &nbsp; &nbsp; <span v-html="second_opinion_links(rating, url)"> </span>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- end copy of report -->
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>
<script type="x-template" id="latest_table">
    <table class="table table-striped changes">
        <thead>
        <tr>
            <th>{% trans "Scan moment" %}</th>
            <th>{% trans "Url" %}</th>
        </tr>
        </thead>
        <tbody v-for='scan in scans'>
        {% verbatim %}
        <tr :class="rowcolor(scan)">
            <td class="date">{{ scan.last_scan_humanized }}</td>
            <td class="url">{{ scan.url }}</td>
        </tr>
        <tr>
            <td class="service">{{ scan.service }}</td>
            <td colspan="2" class="explanation">{{ translate(scan.explanation) }}</td>
        </tr>
        {% endverbatim %}
        </tbody>
    </table>
</script>
<script type="x-template" id="historycontrol_template">
    <div>
        <h4>{% trans "Risks" %}</h4>
        {% if config.SHOW_DNS_DNSSEC %}
        <input type='checkbox' v-model="DNSSEC" name="DNSSEC" id="DNSSEC"> <label for="DNSSEC">{% trans "report_header_DNSSEC" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_TLS_QUALYS %}
        <input type='checkbox' v-model="tls_qualys" name="TLS_QUALYS" id="TLS_QUALYS"> <label for="TLS_QUALYS">{% trans "report_header_tls_qualys" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_MISSING_TLS %}
        <input type='checkbox' v-model="plain_https" name="plain_https" id="plain_https"> <label for="plain_https">{% trans "report_header_plain_https" %}</label><br />
        {% endif %}
        {% if config.SHOW_FTP %}
        <input type='checkbox' v-model="ftp" name="ftp" id="ftp"> <label for="ftp">{% trans "report_header_ftp" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_HEADERS_HSTS %}
        <input type='checkbox' v-model="security_headers_strict_transport_security" name="HSTS" id="HSTS"> <label for="HSTS">{% trans "report_header_security_headers_strict_transport_security" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_HEADERS_XFO %}
        <input type='checkbox' v-model="security_headers_x_frame_options" name="XFO" id="XFO"> <label for="XFO">{% trans "report_header_security_headers_x_frame_options" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_HEADERS_X_XSS %}
        <input type='checkbox' v-model="security_headers_x_xss_protection" name="X_XSS" id="X_XSS"> <label for="X_XSS">{% trans "report_header_security_headers_x_xss_protection" %}</label><br />
        {% endif %}
        {% if config.SHOW_HTTP_HEADERS_X_CONTENT %}
        <input type='checkbox' v-model="security_headers_x_content_type_options" name="X_CONTENT" id="X_CONTENT"> <label for="X_CONTENT">{% trans "report_header_security_headers_x_content_type_options" %}</label><br />
        {% endif %}
        <br />
        <h4>{% trans "Moment" %}</h4>
        <h5>{% verbatim %}{{ visibleweek }}{% endverbatim %} <span v-if='loading'><div class="fa fa-spinner fa-spin"></div></span></h5>
        <input id='history' type='range' v-on:change='show_week' :value='week' min='0' max='52' step='1' :disabled='loading'/>
        <input id='previous_week' type='button' v-on:click='previous_week()' :disabled='loading' value='&lt;&lt;&lt; {% trans "One week earlier" %}'/>
        <input id='next_week' type='button' v-on:click='next_week()' :disabled='loading' value='{% trans "One week later" %} &gt;&gt;&gt;'/>
    </div>
</script>
<script type="x-template" id="domainlist_template">
    <div>
        <div v-if="urls">
            <table width='100%'>
                <thead>
                    <tr><th>{% trans "Url" %}</th>
                    <th width='7%'>{% trans "H" %}</th>
                    <th width='7%'>{% trans "M" %}</th>
                    <th width='7%'>{% trans "L" %}</th></tr>
                </thead>
                {% verbatim %}
                <tbody>
                    <tr v-for="url in urls">
                        <td><span v-bind:class="colorize(url.high, url.medium, url.low)">{{ url.url }}</span></td>
                        <td><span v-bind:class="colorize(url.high, url.medium, url.low)">{{ url.high }}</span></td>
                        <td><span v-bind:class="colorize(url.high, url.medium, url.low)">{{ url.medium }}</span></td>
                        <td><span v-bind:class="colorize(url.high, url.medium, url.low)">{{ url.low }}</span></td>
                    </tr>
                </tbody>
                {% endverbatim %}
            </table>
        </div>
    </div>
</script>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in over 9000 seconds, version: {{ version }}.
-->
