/*
Overrides some values given in CSS from frameworks and third party stuff.
*/

body {
    height: 100%;
}

#history {
    margin-bottom: 10px;
    outline: none;
    direction: rtl;
}

#next_week {
    float: right;
}

#map {
    height: calc(100vh - 50px);
}

.info {
    min-width: 317px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.info_nobackground {
    min-width: 317px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    border-radius: 1px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    /* opacity: 0.7; causes glitch after fullscreen was added. */
}

.green {
    text-decoration: none;
    color: #00ff00;
}

.orange {
    text-decoration: none;
    color: #FFA500;
}

.red {
    text-decoration: none;
    color: #ff0000;
}

#domainlist {
    width: 264px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
}

#domainlist h4 {
    color: #777;
    margin: 0 0 5px;
}

/* bootstrap fixed menu terribleness... always overlaps content. */
body {
    padding-top: 50px;
}

/* prevent dynamic content loading in the div before this element to scroll
the recently jumped anchor (report) out of view.
*/
div#report {
    margin-top: 55px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 50px;
    }
}

/* https://github.com/twbs/bootstrap/issues/1768 */
.jumptonav {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 51px;
    visibility: hidden;
}

.perurl {
    width: 100%;
    clear: both;
    display: table;

    /* alternating rows, taking in account images. */
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #f1f1f1;
}

.imagediv {
    width: 320px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background-color: gainsboro;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px)
}

/* todo: consider making screenshots in aspect ratio? */
.clippedimage {
    margin-top: 14px;
    margin-left: 17px;
    min-width: 320px; /* placeholder */
    min-height: 200px; /* placeholder */
    position: absolute;
    clip: rect(0, 320px, 200px, 0);

    /* If we can't find the image, would this then show? */
    background-color: gainsboro;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px)
}

.servicelink {
    margin-bottom: 15px;
}

.faildomain {
    font-size: 23px;
}

.giveroom {
    margin-top: 12px;
    min-height: 230px;
}

.giveroom_url {
    margin-top: 12px;
    min-height: 156px;
}

.reportlist {
    display: table;
    padding-bottom: 15px;
}

.servicelist {
    display: table;
    padding-bottom: 15px;
    margin-left: 330px;
}

.screenshotlist {
    width: 330px;
    float: left;
}

.Donate {
    border: 1px solid silver;
    padding: 4px;
    width: 60px;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.Donate.a5 {
    background-color: #B3C1C4;
}

.Donate.a5 a:link {
    color: #828578;
}

.Donate.a10 {
    background-color: #EFB8BF;
}

.Donate.a10 a:link {
    color: #B65145;
}

.Donate.a20 {
    background-color: #A9C7DE;
}

.Donate.a20 a:link {
    color: #5F627F;
}

.Donate.a50 {
    background-color: #FACA8E;
}

.Donate.a50 a:link {
    color: #957C62;
}

.Donate.a100 {
    background-color: #90C280;
}

.Donate.a100 a:link {
    color: #616231;
}

.Donate.a200 {
    background-color: #F8DD58;
}

.Donate.a200 a:link {
    color: #938443;
}

.Donate.a500 {
    background-color: #CDA1BE;
}

.Donate.a500 a:link {
    color: #72475A;
}

.Donate.aother {
    width: 200px;
    background-color: pink;
}

.Donate.aother a:link, .Donate.aother a:visited {
    color: darkgray;
}

.donate-title {
    background-color: darkgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 17px;
    color: white;
    margin-top: 11px;
}

.donate-content {
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    padding-top: 9px;
}

.reportlist h3 {
    font-size: 17px;
}

.awarded_points_orange {
    border: 1px solid darkorange;
    background-color: orange;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_red {
    border: 1px solid darkred;
    background-color: red;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_green {
    border: 1px solid green;
    background-color: lightgreen;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.total_awarded_points_orange {
    border: 2px solid darkorange;
    background-color: orange;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_red {
    border: 2px solid darkred;
    background-color: red;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_green {
    border: 2px solid green;
    background-color: lightgreen;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.fail_logo {
    background-color: black;
    padding: 5px;
    border: 3px inset;
}

.fail_logo img {
    width: 100%;
}

.sidn_logo img {
    margin-left: -6px; /* todo: remove margin of the logo image. */
    width: 100%;
    padding-bottom: 11px;
}

.git_logo {
    padding: 10px;
    padding-bottom: 17px;
}

.git_logo img {
    height: 70px;
}

.logo {
    width: 100%;
    text-align: center;
}

.logoandtext {
    font-size: 12px;
}

.fullscreenlayout {
    /* Hide it initially, also when fullscreen closes. */
    /* display: none; */

    /* Go all out */
    position: fixed;
    left: 60px;
    right: 300px;
    bottom: 25px;
    top: 10px;
    overflow-y: scroll;
    overflow-x: auto;

    /* emulate the maps info boxes */
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    padding: 14px;

}

/* a yolo layouted button, just to make sure it can close. */
.closebutton {
    float: right;
    border: 1px solid silver;
    border-radius: 50px;
    padding: 31px;
    position: fixed;
    top: 40px;
    right: 329px;
    font-size: 30px;
    color: silver;
    font-family: consolas;
}

.navbar-default {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.8) 100%) !important;
    backdrop-filter: blur(10px);
    background-color: transparent !important;
}

.jumbotron {
    margin-top: 40px;
}

.yellowrow {
    color: #f0cf3c;
}

.orangerow {
    color: darkorange;
}

.redrow {
    color: #d30000;
}

.greenrow {
    color: #00c700;
}

.grayrow {
    color: darkgray;
}

/* awesome transition */
path {
    -webkit-transition: fill 400ms;
    transition: fill 400ms;
}

#searchbar {
    width: 100%;
    font-size: 20px;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.backtomap {
    float: right;
    position: relative;
    top: -15px;
}

.organization_points {
    font-size: inherit !important;
    margin: 0 5px 0 0 !important;
}

/* Begin D3 JS*/
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Verdana;
    font-size: 13px;
}

.area {
    opacity: 0.5;
    shape-rendering: geometricPrecision;
}

.d3_tooltip {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    font-family: verdana;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
    z-index: 2000;
}
/* End D3 JS */

.changes .date {
    width: 173px;
}

.changes .explanation,
.changes .service {
    font-size: 12px;
}

.selected_category, .selected_country {
    background-color: lightblue;
    border-bottom: 4px solid blue;
    color: black;
}

#categorynavbar, #countrynavbar {
    margin-bottom: 0 !important;
}

.improvements_good {
    color: green;
    font-size: 40px;
}

.improvements_bad {
    color: red;
    font-size: 40px;
}

.improvements_good_large {
    color: green;
    font-size: 100px;
}

.improvements_bad_large {
    color: red;
    font-size: 100px;
}

.improvements_good:before {
   content: "+";
}

.improvements_good_large:before {
   content: "+";
}

.improvements_bad:before {
   content: "+";
}

.improvements_bad_large:before {
   content: "+";
}

.number-sm {
    text-align: center;
    min-width: 112px;
}

.improvementstable {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}

.improvement_severity{
    border-bottom: 2px solid silver;
}

.centered {
    text-align:center
}

[v-cloak] {
  display: none;
}


.score {
    float: left;
    width: 10em;
    height: 13em;
    border-radius: 6px;
    margin: 10px;
    text-align: center;
    padding: 13px;
}

.score_label {
    font-size: 1.3em;
    color: white;
}

.score_value {
    font-size: 5em;
    background-color: #ffffffcf;
    width: 113px;
    display: block;
    border-radius: 10px;
}

.high {
    background-color: #f70000;
}

.medium {
    background-color: #f78900;;
}

.low {
    background-color: #f7e400;
}

.high_text {
    color: #f70000;
}

.medium_text {
    color: #f78900;;
}

.low_text {
    color: #f7e400;
}



/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 1vw;
    text-indent: 0;
    animation: marquee 5000s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.very-huge{
    font-size: 140px;
}

#ticker {
    z-index: 1000;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-top: 2px solid black;
}


/* next april fools
path {
	animation: rotation 1s infinite linear;
    transform-origin: 0 0;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

*/

section {
    margin-bottom: 55px;

}

section:last-of-type {
    margin-bottom: 0;
}

section:nth-child(2n+2) {background-color: ghostwhite;}

/**
 Sortable Tables
 https://vuejs.org/v2/examples/grid-component.html
*/

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #00a0c6;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #00a0c6;
}

.stats_part{
    margin-top: 40px;
}


#lastrow {
    background-color: black;
    padding-top: 40px;
    border-top: 10px solid lightgreen;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#lastrow ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

#lastrow ul li {
    margin-bottom: 12px;
    list-style: none;
    margin-left: -40px;
}

#lastrow a, #lastrow a:hover, #lastrow a:visited {
    color:white;
    text-decoration: none;
}

/* Report printing in chrome / safari, so it looks nice */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

@media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {
      display: none;
      content: "";
    }
}

#viewmore {
    position: absolute;
    top: 98vh;
    z-index: 1001;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5vw;
    padding: 0.5vw;
    border-radius: 10px;
}

.legend_title {
    display: block;
    margin-bottom: -12px;
    font-weight: bold;
}

.gitter-chat-embed {
    z-index: 10000;
}